[submodule "libprojects/ActionBarSherlock"]
	path = libprojects/ActionBarSherlock
	url = https://github.com/mndfcked/ActionBarSherlock.git
[submodule "libprojects/volley"]
	path = libprojects/volley
	url = https://github.com/mndfcked/volley.git
[submodule "libprojects/SherlockNavigationDrawer"]
	path = libprojects/SherlockNavigationDrawer
	url = https://github.com/mndfcked/SherlockNavigationDrawer.git
[submodule "libprojects/encrypted-userprefs"]
	path = libprojects/encrypted-userprefs
	url = https://github.com/mndfcked/encrypted-userprefs.git
