[submodule "libprojects/volley"]
	path = libprojects/volley
	url = https://github.com/elan-ev/volley.git
  branch = master
  ignore = dirty
[submodule "lib/signpost-retrofit"]
	path = lib/signpost-retrofit
	url = https://github.com/mndfcked/signpost-retrofit.git
