[submodule "libprojects/SherlockNavigationDrawer"]
	path = libprojects/SherlockNavigationDrawer
	url = https://github.com/mndfcked/SherlockNavigationDrawer.git
  ignore = dirty
[submodule "libprojects/volley"]
	path = libprojects/volley
	url = https://github.com/elan-ev/volley.git
  branch = master
  ignore = dirty
