<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013 ELAN e.V.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.elanev.studip.android.app"
    android:versionCode="1"
    android:versionName="0.5.0.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.studipactionbar" >

        <!-- android:uiOptions="splitActionBarWhenNarrow"> -->

        <service android:name="de.elanev.studip.android.app.backend.net.services.syncservice.RestIPSyncService" />

        <activity
            android:name=".StudIPAppActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backend.net.ChooseServerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".backend.net.oauth.SignInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".backend.net.oauth.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.courses.CourseViewActivity"
            android:label="@string/title_activity_course_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.news.NewsViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.news.NewsItemView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.courses.CoursesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.messages.MessagesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.messages.MessageDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.messages.MessageComposeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.contacts.ContactsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".widget.UserDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name=".backend.provider.RestIpProvider"
            android:authorities="de.elanev.studip.android.app"
            android:exported="false"
            android:label="@string/app_name"
            android:syncable="true" />
    </application>

</manifest>