<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) 2013 ELAN e.V.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.elanev.studip.android.app"
    android:versionCode="12"
    android:versionName="0.6.0.12">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <!-- Application permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- General application settings -->
    <application
        android:name="de.elanev.studip.android.app.StudIPApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:theme="@style/Theme.Studipappactionbarstyle"
        android:uiOptions="splitActionBarWhenNarrow">
        <service android:name="de.elanev.studip.android.app.backend.net.services.syncservice.RestIPSyncService" />

        <!-- Authentication activities & first started activity -->
        <activity
            android:name=".backend.net.oauth.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backend.net.oauth.WebViewActivity"
            android:noHistory="true"
            android:parentActivityName=".backend.net.oauth.SignInActivity"
            android:screenOrientation="portrait">

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".backend.net.oauth.SignInActivity" />
        </activity>

        <!-- Main activity with navigation drawer and content frame -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <!-- News list and details view activity -->
        <activity
            android:name=".frontend.news.NewsItemViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Courses list and detail view activities -->
        <activity
            android:name=".frontend.courses.CourseViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Messages list, details view and compose activities -->
        <activity
            android:name=".frontend.messages.MessageDetailActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".frontend.messages.MessageComposeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <!-- user details view activity -->
        <activity
            android:name=".widget.UserDetailsActivity"
            android:screenOrientation="portrait"></activity>

        <!-- RestIpProvider for rest API calls -->
        <provider
            android:name=".backend.provider.RestIpProvider"
            android:authorities="de.elanev.studip.android.app"
            android:exported="false"
            android:label="@string/app_name"
            android:syncable="true" />

        <!-- CRASHLYTICS START -->
        <!-- If you want to use your own crash reporting tools, delete this line or comment it out. -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="@string/crashlytics_api_key" />
        <!-- CRASHLYTICS END -->
    </application>

</manifest>