<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) 2015 ELAN e.V.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
-->
<manifest
    package="de.elanev.studip.android.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Application permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- General application settings -->
    <application
        android:name="de.elanev.studip.android.app.StudIPApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:logo="@drawable/ic_home_transparent"
        android:theme="@style/Theme.Studipmobil">
        <!-- Main activity with navigation drawer and content frame -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Authentication activities -->
        <activity
            android:name=".backend.net.oauth.SignInActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".backend.net.oauth.WebViewActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:parentActivityName=".backend.net.oauth.SignInActivity"
            android:screenOrientation="portrait">

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".backend.net.oauth.SignInActivity"/>
        </activity>

        <!-- News list and details view activity -->
        <activity
            android:name=".frontend.news.NewsItemViewActivity"
            android:parentActivityName=".MainActivity">
            <category android:name="android.intent.category.MONKEY"/>

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <!-- Courses list and detail view activities -->
        <activity
            android:name=".frontend.courses.CourseViewActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
            <category android:name="android.intent.category.MONKEY"/>

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <!-- Messages list, details view and compose activities -->
        <activity
            android:name=".frontend.messages.MessageDetailActivity"
            android:parentActivityName=".MainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <category android:name="android.intent.category.MONKEY"/>

            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".frontend.messages.MessageComposeActivity"
            android:windowSoftInputMode="adjustResize"/>

        <!-- user details view activity -->
        <activity
            android:name=".widget.UserDetailsActivity"/>


        <!-- about the app activity -->
        <activity
            android:name=".frontend.AboutActivity"/>

        <!-- generic WebView activity -->
        <activity
            android:name=".widget.WebViewActivity"/>

        <!-- forum areas view activity -->
        <activity
            android:name=".frontend.forums.ForumAreasActivity" />

        <!-- forum entries view activity -->
        <activity
            android:name=".frontend.forums.ForumEntriesActivity" />
        <activity
            android:name=".frontend.forums.ForumEntryActivity" />

        <!-- forum area compose activity -->
        <activity
            android:name=".frontend.forums.ForumEntryComposeActivity" />

        <!-- RestIpProvider for rest API calls -->
        <provider
            android:name=".backend.provider.RestIpProvider"
            android:authorities="de.elanev.studip.android.app"
            android:exported="false"
            android:label="@string/app_name"
            android:syncable="true"/>
    </application>

</manifest>